<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "icon" href = "{{url_for('static',filename='to-do-list.png')}}" type = "image/x-icon" title="to do list icons">
    <title>ToDo</title>
</head>

<body>
    <div class="bg-nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 bg-white border-bottom box-shadow ">
        <h5 class="my-0 mr-md-auto font-weight-normal text-light">Ceasy</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a href="{{ url_for('main.index') }}" class="p-2 text-light">
                Home
            </a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.home') }}" class="p-2 text-light">
                ToDo
            </a>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}" class="p-2 text-light">
                Login
            </a>
            <a href="{{ url_for('auth.signup') }}" class="p-2 text-light">
                Sign Up
            </a>
            {% endif %}
        </nav>
        {% if current_user.is_authenticated %}
        <a class="btn btn-outline-light" href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>